server {
    listen       80;
    server_name  {{item.name}};

    root   {{ item.rootFolder }};
    index  index.php index.html index.htm;
    access_log /var/log/access.{{item.name}}.log;
    error_log /var/log/error.{{item.name}}.log;

    location / {
        index  index.html index.php;
        try_files $uri $uri/ /index.php?$args;
    }
    
    location ~ \.php$ {
        fastcgi_pass   127.0.0.1:{{ php_fpm_port }};

        fastcgi_read_timeout 150;
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        # NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini

        # With php5-cgi alone:
        #fastcgi_pass 127.0.0.1:9000;
        # With php5-fpm:
        #fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_param   SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include fastcgi_params;

    }

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}

